<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="/static/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include "header.html" %}
    {% include "message.html" %}

    <div>
      <h1>
        {{ boardinfo["name"] }}
        <small>作成日: {{ boardinfo["created_at"] }}</small>
      </h1>
    </div>

    {% if not get_logined_user() is none %}
      <div>
        <form action="/board/{{ boardinfo['board_id'] }}" method="POST">
          <input type="hidden" name="action" value="post">
          <input type="hidden" name="csrf-token" value="{{ get_csrf_token() }}">

          <div class="row">
            <div class="col-sm-12">
              <textarea name="body" rows="4"></textarea>
              <button class="primary">送信</button>
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    <div class="board">
      {% for post in posts %}
        <form action="/board/{{ boardinfo['board_id'] }}" method="POST">
          <input type="hidden" name="action" value="delete">
          <input type="hidden" name="post_id" value="{{ post['post_id'] }}">
          <input type="hidden" name="csrf-token" value="{{ get_csrf_token() }}">

          <div class="row">
            <div class="col-sm-12">
              <div class="card fluid">
                <h3>
                  {{ post["author_name"] }}
                  <small>投稿日時: {{ post["created_at"] }}</small>
                </h3>
                <p>
                  {{ post["body"]|safe }}
                </p>
                {% if post["author_user_id"] == logined_user.user_id %}
                  <div class="post-ctrl">
                    <button class="small">削除</button>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </form>
      {% endfor %}

    </div>

  </body>
</html>
