<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="/static/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include "header.html" %}
    {% include "message.html" %}

    {% if not get_logined_user() is none %}
      <div class="row">
        <div class="col-sm-12">
          <form>
            <a class="button small" href="/newboard">掲示板を作成</a>
          </form>
        </div>
      </div>
    {% endif %}

    {% for board in boards %}
      <div class="card fluid">
        <form action="{{ get_url() }}" method="POST">
          <h3><a href="/board/{{ board[0].board_id }}">
            [No.{{ board[0].board_id  }}] {{ board[0].name }}
          </a></h3>
          <div class="card-footer">
            作成日時: {{ board[0].created_at }} |
            作成者: {{ board[1].name }}
            {% if board[0].owner_user_id == get_logined_user().user_id %}
              <input type="hidden" name="action" value="delete">
              <input type="hidden" name="board_id" value="{{ board[0].board_id }}">
              <input type="hidden" name="csrf-token" value="{{ get_csrf_token() }}">
              <button class="small no-margin">削除</button>
            {% endif %}
          </div>
        </form>
      </div>
    {% endfor %}

    <div class="pager">
      {% if has_newer %}
        <a href="{{ get_url(with_args=False) }}" class="button">最初へ</a>
        <a href="{{ get_url(with_args=False) }}?newer_since_id={{ newer_since_id }}" class="button">前へ</a>
      {% endif %}
      {% if has_older %}
        <a href="{{ get_url(with_args=False) }}?older_until_id={{ older_until_id }}" class="button">次へ</a>
      {% endif %}
    </div>

  </body>
</html>
