<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="/static/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include "header.html" %}

    <h1>ユーザ編集</h1>

    {% if succeeded_message is defined %}
      <div class="row">
        <div class="col-sm-12">
          <div class="card fluid succeeded">
            <p>{{ succeeded_message }}</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if error_message is defined %}
      <div class="row">
        <div class="col-sm-12">
          <div class="card fluid error">
            <h2>エラー</h2>
            <p>{{ error_message }}</p>
          </div>
        </div>
      </div>
    {% endif %}

    <form action="/edituser" method="POST">
      <div class="row responsive-label">
        <div class="col-sm-3">
          <label for="name-text">ユーザ名</label>
        </div>
        <div class="col-sm-9">
          <input id="name-text" class="form-input" type="text" name="name"
            value="{{ logined_user.name }}">
        </div>
      </div>
      <div class="row responsive-label">
        <div class="col-sm-3">
          <label for="password-text">パスワード</label>
        </div>
        <div class="col-sm-9">
          <input id="password-text" class="form-input" type="password" name="password"
            placeholder="パスワードを変更するときのみ入力してください。">
        </div>
      </div>
      <div class="row responsive-label">
        <div class="col-sm-3">
          <label for="password-confirm-text">パスワード（確認）</label>
        </div>
        <div class="col-sm-9">
          <input id="password-confirm-text" class="form-input" type="password" name="password-confirm"
            placeholder="パスワードを変更するときのみ入力してください。">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="primary">設定</button>
        </div>
      </div>
    </form>

    <div>
      <h1>その他の設定</h1>
      <p><a href="#">ユーザを削除する</a></p>
    </div>

  </body>
</html>
